<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
	<Title>Autonvuokraus</Title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Vuokraus</h1>
  <!--     $('#sandbox-container input').datepicker({
        format: "dd/mm/yyyy",
        todayBtn: "linked",
        language: "fi"
    });-->
	<div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>
</body>
</html>